bias_electronic_invoice_bf2/CorporativoWS2.2.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions name="BuzonFiscalCorporativo" targetNamespace="http://www.buzonfiscal.com/bf/ws/bfcorp/2" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:bfcorp2xsd="http://www.buzonfiscal.com/ns/xsd/bf/bfcorp/2" xmlns:bfcorp2="http://www.buzonfiscal.com/bf/ws/bfcorp/2">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.buzonfiscal.com/ns/xsd/bf/bfcorp/2" schemaLocation="CorporativoWS2.0.xsd">
			</xsd:import>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="GeneraCFDRequest">
		<wsdl:part element="bfcorp2xsd:RequestGeneraCFD"
			name="RequestGeneraCFD" />
	</wsdl:message>
	<wsdl:message name="GeneraCFDResponse">
		<wsdl:part element="bfcorp2xsd:ResponseGeneraCFD" name="ResponseGeneraCFD" />
	</wsdl:message>	<wsdl:message name="CancelaCFDRequest">		<wsdl:part name="RequestCancelaCFD" element="bfcorp2xsd:RequestCancelaCFD"></wsdl:part>	</wsdl:message>	<wsdl:message name="CancelaCFDResponse">		<wsdl:part name="ResponseCancelaCFD" element="bfcorp2xsd:ResponseCancelaCFD"></wsdl:part>	</wsdl:message>	<wsdl:message name="GeneraReporteMensualRequest">		<wsdl:part name="RequestReporteMensual" element="bfcorp2xsd:RequestReporteMensual"></wsdl:part>	</wsdl:message>	<wsdl:message name="GeneraReporteMensualResponse">		<wsdl:part name="ResponseReporteMensual" element="bfcorp2xsd:ResponseReporteMensual"></wsdl:part>	</wsdl:message>	<wsdl:portType name="BuzonFiscalCorporativoPort">		<wsdl:operation name="GeneraCFD">			<wsdl:input message="bfcorp2:GeneraCFDRequest" name="GeneraCFDRequest"></wsdl:input>			<wsdl:output message="bfcorp2:GeneraCFDResponse" name="GeneraCFDResponse"></wsdl:output>		</wsdl:operation>		<wsdl:operation name="CancelaCFD">			<wsdl:input message="bfcorp2:CancelaCFDRequest"></wsdl:input>			<wsdl:output message="bfcorp2:CancelaCFDResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GeneraReporteMensual">
			<wsdl:input message="bfcorp2:GeneraReporteMensualRequest"></wsdl:input>
			<wsdl:output message="bfcorp2:GeneraReporteMensualResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>	<wsdl:binding name="BuzonFiscalCorporativoBinding" type="bfcorp2:BuzonFiscalCorporativoPort">		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />		<wsdl:operation name="GeneraCFD">			<soap:operation soapAction="http://www.buzonfiscal.com/bf/ws/bfcorp/2/GeneraCFDv2" />			<wsdl:input name="GeneraCFDRequest">				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="GeneraCFDResponse">

				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CancelaCFD">

			<soap:operation soapAction="http://www.buzonfiscal.com/bf/ws/bfcorp/2/CancelaCFD" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GeneraReporteMensual">

			<soap:operation soapAction="http://www.buzonfiscal.com/bf/ws/bfcorp/2/GeneraReporteMensual" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="BuzonFiscalCorporativoWS">
		<wsdl:port binding="bfcorp2:BuzonFiscalCorporativoBinding" name="BuzonFiscalCorporativoPort">
			<soap:address location="https://demonegocios.buzonfiscal.com/bfcorpws" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
